{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Register
{% endblock %}
{% block content %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <!-- bootstrap alert -->
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% if message.tags == 'success' %}
            <!-- bootstrap alert -->
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        {{ registration_form|crispy }}
        <button type="submit" class="btn btn-primary">Create Account</button>
        <div class="d-flex justify-content-center">
            <a role="button" class="btn btn-info mx-1" href="{% url 'signin' %}">SignIn</a>
        </div>
    </form>
{% endblock %}