{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Login
{% endblock %}
{% block content %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <!-- bootstrap alert -->
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% if message.tags == 'success' %}
            <!-- bootstrap alert -->
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}
    <!-- w-50 with contents in center -->
    <div class="d-flex justify-content-center shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <form method="post">
            {% csrf_token %}
            {{ sign_in_form|crispy }}
            <button type="submit" class="btn btn-warning">Login</button>
            <!-- bootstrap anchor tag with button role -->
            <a class="btn btn-link" href="{% url 'register' %}" target="_blank" role="button">SignUp Here!</a>
        </form>
    </div>
{% endblock %}