{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Uploaded Videos
{% endblock %}
{% block content %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <!-- bootstrap alert -->
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% if message.tags == 'success' %}
            <!-- bootstrap alert -->
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}
    <h5>Uploaded Videos</h5>
    <!-- display image in row and column -->
    <div class="row">
        {% for video in videos %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ video.video.name }}</h5>
                        <a href="{{ video.video.url }}" class="btn btn-primary">Watch Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}