{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Uploaded Images
{% endblock %}
{% block content %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <!-- bootstrap alert -->
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {% if message.tags == 'success' %}
            <!-- bootstrap alert -->
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}
    <h5>Uploaded Imaged</h5>
    <!-- display image in row and column -->
    <div class="row">
        {% for image in images %}
            <div class="col">
                <img src="{{ image.image.url }}" class="img-thumbnail" height="50%" width="50%" alt="{{ image.id }}">
            </div>
        {% endfor %}
    </div>

{% endblock %}